<!DOCTYPE html>
<html>
    <head>
        <title>New user registration</title>
    </head>
    <body>
        <h1> Create Account</h1>
        <form method="POST">
            <input type="text" 
            name="name"
            placeholder="name"
            required>
            <br><br>

            <input type="email"
            name="email"
            placeholder="Email"
            required>
            <br><br>

            <input type="password"
            name="password"
            placeholder="Password"
            required
            >
            <br><br>

            <button type="submit">Register</button>



        </form>
        <a href="/login">Already have an account? Login</a>
    </body>
</html>